<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= link_to comment do %>
      <%= render comment %>
    <% end %>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>
