<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<%= link_to "New author", new_author_path %>

<div id="authors">
  <% @authors.each do |author| %>
    <%= link_to author, class: 'Card' do %>
      <%= render author %>
    <% end %>
  <% end %>
</div>