body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #070707;
    color: #fafafa;
    font-family: 'TT Interphases Educational', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a {
    color: #fafafa;
}