.Card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-sizing: border-box;
    width: 600px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #fafafa;
    background-color: #111111;
}

.Card h2 {
    margin: 0px 0px 10px 0px;
}

.FanImg {
    border-radius: 14px;
}