<div class="O_Footer">
    <h2>О мультивселенных мало, что известно,</h2>
    <h3>но мы поможем</h3>
    <div class="M_Credits">
        <div class="W_Names">
            <p>Алешина Оля</p>
            <p>@wxllfwlr</p>
        </div>
        <%= link_to "Промо", welcome_about_url %>
        <p>HSE ADC</p>
        <a href="">Telegram</a>
        <div class="W_Names">
            <p>Захар День</p>
            <p>Вадим Булгаков</p>
        </div>
    </div>
</div>