<section class="O_Navbar">
    <%= link_to "", welcome_index_url, class: 'A_Logotype' %>
    <nav class="M_Navlink">
        <%= link_to "сплэш", welcome_index_url %>
        <%= link_to "о нас", welcome_about_url %>
        <%= link_to "фандомы", fandoms_url %>
    </nav>
    <div class="Blackpath"></div>
</section>